<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Type
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<h1>JIoT Platform</h1>
		</ion-row>
		<ion-row>
			<p>가족 구성 형태를 선택하세요.</p>
		</ion-row>
		<ion-row>
			<ion-card>
			  <ion-card-header>
			    <ion-card-subtitle>JIoT 구분</ion-card-subtitle>
			    <ion-card-title>맞벌이 가족</ion-card-title>
			  </ion-card-header>

			  <ion-card-content>
			    엄마, 아빠, 딸의 3인 1가족 입니다.
			    맞벌이는 하는 가족의 성함을 분석하여
			    NOWBOT이 제공하는 시뮬레이션입니다.
			  </ion-card-content>
			  <ion-button shape="round" expand="full" fill="solid">선택</ion-button>
			</ion-card>
			
			<ion-card>
			  <ion-card-header>
			    <ion-card-subtitle>JIoT 구분</ion-card-subtitle>
			    <ion-card-title>1인 자취 직장인</ion-card-title>
			  </ion-card-header>

			  <ion-card-content>
			    분당에서 강남으로 출근하는 33살 직장인
			    "김지금"씨의 성향을 분석하여 NOWBOT이 제공하는 시뮬레이션입니다.
			  </ion-card-content>
			  <ion-button shape="round" expand="full" fill="solid">선택</ion-button>
			</ion-card>
		</ion-row>
	</ion-grid>
</ion-content>
