<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="flex-direction: column" >
      <h1>JIoT Platform</h1>
    </ion-row>
    <ion-button shape="round" expand="full" fill="solid" style="height: 10%">시뮬레이션 시작</ion-button>
    <ion-button shape="round" expand="full" fill="solid" style="height: 10%">홍보영상보기</ion-button>
  </ion-grid>
</ion-content>
